<nav class="navigation">
    <div class="main-container">
        <nav class="navigation__container">
            <a class="navigation__logo-container" href="#">
                <svg class="navigation__logo">
                    <use xlink:href="../../assets/icons/sprite.svg#logo"></use>
                </svg>
            </a>
            <div class="navigation__company">
                <span class="navigation__company-title">ООО "АБРАДОКС"</span>
                <button class="navigation__company-collapse">
                    <span class="arrow-light_bottom"></span>
                </button>
            </div>
            <div class="navigation__account-container">
                <a href="#" class="navigation__account-link">
                    <svg class="navigation__account-icon">
                        <use xlink:href="../../assets/icons/sprite.svg#account"></use>
                    </svg>
                </a>
                <a href="#" class="navigation__account-link">
                    <svg class="navigation__account-icon">
                        <use xlink:href="../../assets/icons/sprite.svg#chat"></use>
                    </svg>
                </a>
                <a href="#" class="navigation__account-link navigation__account-link_alert">
                    <svg class="navigation__account-icon">
                        <use xlink:href="../../assets/icons/sprite.svg#notification"></use>
                    </svg>
                </a>
            </div>
        </nav>
    </div>
</nav>