/* You can add global styles to this file, and also import other style files */
@import './fonts.scss';

:root {
    --menu-background-color: #3D3D3D;
    --account-block-background-color: #3D3D3D;
    --button-background-color: #0062FF;
    --header-color: #FFFFFF;
    --sub-header: #BEBEBE;
    --text-color: #F3F3F3;
    --link-color: #6EA6FF;
    --login-background: #181818;
    --login-block-background: #282828;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    background-color: var(--account-background-color);
    min-width: 518px;
}