<app-menu></app-menu>

<main class="main-container">
    <div class="accounts">
        <h2 class="accounts__header">Работа со счетами</h2>
        <div class="accounts__container">
            <section class="account">
                <div class="account__title-container">
                    <h3 class="account__title">Счета</h3>
                    <button class="account__collapse">...</button>
                </div>
                <div class="account__available-funds available-funds">
                    <span class="available-funds__value">2 515 235 ₽</span>
                    <span class="available-funds__title">Доступные средства</span>
                </div>
                <div class="account__blocked-funds blocked-funds">
                    <span class="blocked-funds__value">1 235 283 ₽</span>
                    <span class="blocked-funds__title">Заблокированные средства
                        <a class="blocked-funds__link" href="#">
                            <svg class="blocked-funds__link-icon">
                                <use xlink:href="../../assets/icons/sprite.svg#info"></use>
                            </svg>
                        </a>
                    </span>
                </div>
                <div class="account__link-container">
                    <button class="account__btn btn">12 счетов
                        <svg class="btn__arrow">
                            <use xlink:href="../../assets/icons/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <a class="account__link" href="#">Смотреть в Точке</a>
                </div>
            </section>
            <section class="requests">
                <div class="requests__header">
                    <h3 class="requests__title">Статус заявок</h3>
                    <button class="requests__collapse">...</button>
                </div>
                <div class="request">
                    <div class="request__header">
                        <span class="request__type">Тендерный займ</span>
                        <span class="request__applying">Лицевой счёт</span>
                    </div>
                    <div class="request__status status">
                        <button class="status__changed">
                            Статус изменился
                            <svg class="status__changed-icon">
                                <use xlink:href="../../assets/icons/sprite.svg#cross"></use>
                            </svg>
                        </button>
                        <svg class="status__icon status__icon_error">
                            <use xlink:href="../../assets/icons/sprite.svg#error"></use>
                        </svg>
                    </div>
                </div>
                <div class="request">
                    <div class="request__header">
                        <span class="request__type">Банковские гарантии</span>
                        <span class="request__applying">Основной расчётный счёт</span>
                    </div>
                    <div class="request__status status">
                        <svg class="status__icon status__icon_approve">
                            <use xlink:href="../../assets/icons/sprite.svg#checkmark"></use>
                        </svg>
                    </div>
                </div>
                <div class="request">
                    <div class="request__header">
                        <span class="request__type">Кредит на исполнение контракта</span>
                        <span class="request__applying">Карточный счёт</span>
                    </div>
                    <div class="request__status status">
                        <button class="status__chat-with-bank">
                            Чат с банком
                            <svg class="status__chat-with-bank-icon">
                                <use xlink:href="../../assets/icons/sprite.svg#forum"></use>
                            </svg>
                        </button>
                        <svg class="status__icon status__icon_during">
                            <use xlink:href="../../assets/icons/sprite.svg#time"></use>
                        </svg>
                    </div>
                </div>
                <button class="request__show-all btn">Все заявки
                    <svg class="btn__arrow">
                        <use xlink:href="../../assets/icons/sprite.svg#arrow"></use>
                    </svg>
                </button>
            </section>
        </div>
    </div>
    <section class="products">
        <h2 class="products__title">Продукты</h2>
        <div class="products__container">
            <div class="product">
                <h3 class="product__title">Тендерный <br> займ</h3>
                <ul class="product__description">
                    <li class="product__description-item">Для обеспечения участия</li>
                    <li class="product__description-item">Комиссия 2,5% за выдачу</li>
                    <li class="product__description-item">Срок рассмотрения - 2 ч.</li>
                    <li class="product__description-item">Лимит - до 50 млн. руб.</li>
                </ul>
                <a href="#" class="product__link">
                    <svg class="product__link-icon">
                        <use xlink:href="../../assets/icons/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
            <div class="product">
                <h3 class="product__title">Банковские <br> гарантии</h3>
                <ul class="product__description">
                    <li class="product__description-item">Возможность выдачи гарантий без залога и поручительства</li>
                    <li class="product__description-item">Срок рассмотрения - 2 ч.</li>
                    <li class="product__description-item">До 30 млн. руб.</li>
                </ul>
                <a href="#" class="product__link">
                    <svg class="product__link-icon">
                        <use xlink:href="../../assets/icons/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
            <div class="product">
                <h3 class="product__title">Кредит на исполнение контракта</h3>
                <ul class="product__description">
                    <li class="product__description-item">Для обеспечения участия</li>
                    <li class="product__description-item">Комиссия 2,5% за выдачу</li>
                    <li class="product__description-item">Лимит - до 50 млн. руб.</li>
                    <li class="product__description-item">Решение за 1 день</li>
                </ul>
                <a href="#" class="product__link">
                    <svg class="product__link-icon">
                        <use xlink:href="../../assets/icons/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </section>
</main>